.hero {
	color: #fff;
	padding: 160px 0;
}

.top-line {
	color: #e60000;
	font-size: 16px;
	line-height: 16px;
	font-weight: 700;
	letter-spacing: 1.4px;
	text-transform: uppercase;
	margin-bottom: 16px;
}

.heading {
	margin-bottom: 24px;
	font-size: 48px;
	line-height: 1.1;
	font-weight: 600;
	color: #f7f8fa;
}

.dark {
	color: #181818;
}

.darkBg {
	background-color: rgba(0, 0, 0, 0.55);
}

.lightBg {
	background-color: rgba(231, 229, 228, 0.9);
}

.hero-desc {
	max-width: 440px;
	margin-bottom: 35px;
	font-size: 18px;
	line-height: 24px;
	text-indent: 3rem;
}

.hero-img {
	max-width: 100%;
	min-width: 250px;
}

.light-slope {
	background: rgba(255, 255, 255, 0);
	border-style: solid;
	border-color: rgba(255, 255, 255, 0) rgba(231, 229, 228, 0.9) rgba(231, 229, 228, 0.9) rgba(255, 255, 255, 0);
	border-top-width: 2vh;
	border-bottom-width: 6vh;
	border-left-width: 100vw;
	border-right-width: 0px;
	z-index: 1;
}
.inverted-light-slope {
	background: rgba(255, 255, 255, 0);
	border-style: solid;
	border-color: rgba(231, 229, 228, 0.9) rgba(39, 39, 42, 0.2) rgba(255, 255, 255, 0) rgba(231, 229, 228, 0.9);
	border-top-width: 2vh;
	border-bottom-width: 6vh;
	border-left-width: 100vw;
	border-right-width: 0px;
	z-index: 1;
}
.dark-slope {
	background: rgba(255, 255, 255, 0);
	border-style: solid;
	border-color: rgba(255, 255, 255, 0) rgba(39, 39, 42, 0.2) rgba(0, 0, 0, 0.55) rgba(255, 255, 255, 0);
	border-top-width: 2vh;
	border-bottom-width: 6vh;
	border-left-width: 100vw;
	border-right-width: 0px;
	z-index: 1;
}
.inverted-dark-slope {
	background: rgba(255, 255, 255, 0);
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.55) rgba(39, 39, 42, 0.2) rgba(255, 255, 255, 0) rgba(0, 0, 0, 0.55);
	border-top-width: 2vh;
	border-bottom-width: 6vh;
	border-left-width: 100vw;
	border-right-width: 0px;
	z-index: 1;
}
