.form--custom {
	background: radial-gradient(circle, rgba(250, 250, 250, 0.2) 0%, rgba(38, 38, 38, 0.5) 100%);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(0, 0, 0, 0.8);
}
